---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
{%- assign share_title = page.title | url_encode -%}
{%- assign share_url = page.url | absolute_url | url_encode -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
    {%- if page.categories.size > 0 -%}
    <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  <div class="post">
    {{ content }}
  </div>
  <div class="post-share">
    <span class="post-share-label">Share</span>
    <a
      class="post-share-link"
      href="https://twitter.com/intent/tweet?text={{ share_title }}&url={{ share_url }}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Share on X"
      title="Share on X"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.64 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932 6.064-6.933Zm-1.292 19.49h2.039L6.486 3.24H4.298l13.311 17.403Z"/>
      </svg>
    </a>
  </div>
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
</div>
